<h3>Posts</h3>
<% posts.each do |post| %>
	<div>
		<a href="/posts/<%= File.basename(post['name'], '.*') + "?ext=#{File.extname(post['name'])}"%>">
			<%= File.basename(post['name'], '.*') %>
		</a>
		&nbsp;<span>(<%= Date.parse(post['server_modified']) %>)</span>
	</div>
<% end %>