<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Rhyolite</title>
		<meta name="description" content="A simple blogging framework.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		layout rendered
		<%= yield %>
	</body>
</html>